In [58]:
import pandas as pd
import numpy as np

url ='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel = pd.read_csv(url, error_bad_lines=False)

# Question 1

In [45]:
A = [1,2,3,4,5,6]
print(A)

[1, 2, 3, 4, 5, 6]

In [46]:
B = [13, 21, 34]
print(B)

[13, 21, 34]

In [68]:
A.extend(B)

In [69]:
A.append(B)

# Question 3

In [8]:
print(fuel.head(5))

                record_id  utility_id_ferc1  report_year  \
0   f1_fuel_1994_12_1_0_7                 1         1994
1  f1_fuel_1994_12_1_0_10                 1         1994
2   f1_fuel_1994_12_2_0_1                 2         1994
3   f1_fuel_1994_12_2_0_7                 2         1994
4  f1_fuel_1994_12_2_0_10                 2         1994

       plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0              rockport                coal       ton        5377489.0
1  rockport total plant                coal       ton       10486945.0
2                gorgas                coal       ton        2978683.0
3                 barry                coal       ton        3739484.0
4             chickasaw                 gas       mcf          40533.0

   fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0               16.590                      18.59
1               16.592                      18.58
2               24.130                      39.72
3               23.950                      47.21
4                1.000                       2.77

   fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                         18.53                1.121
1                         18.53                1.120
2                         38.12                1.650
3                         45.99                1.970
4                          2.77                2.570

In [9]:
fuel.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 4

In [12]:
energy_unit = fuel['fuel_mmbtu_per_unit']
print(energy_unit.head(5))
print(energy_unit.std())
print(energy_unit.describe())

0    16.590
1    16.592
2    24.130
3    23.950
4     1.000
Name: fuel_mmbtu_per_unit, dtype: float64
10.600220307806886
count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

# Question 6

In [13]:
fuel.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [66]:
fuel.shape

(29523, 11)

In [67]:
(180 / 29523) * 100

0.609694136774718

# Question 10

In [14]:
fuel.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [33]:
fuel.groupby('report_year')['fuel_cost_per_unit_burned'].sum()

report_year
1994    263292.115
1995    425661.488
1996     86425.275
1997    163533.452
1998    140238.656
1999    126056.285
2000    326495.434
2001    180365.641
2002    121921.135
2003    149175.726
2004    184637.699
2005    135924.139
2006    188142.032
2007    256114.312
2008    314312.022
2009    263584.566
2010    331581.467
2011    374175.603
2012    321693.544
2013    306933.236
2014    518002.469
2015    260060.984
2016    255484.814
2017    244557.823
2018    221575.426
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 5

In [26]:
from scipy.stats import kurtosis, skew
print(kurtosis(fuel['fuel_qty_burned']))
print(skew(fuel['fuel_qty_burned']))

651.2589365474387
15.850690077422112

# Question 8

In [34]:
fuel.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

# Question 9

In [38]:
fuel.groupby('report_year')['fuel_cost_per_unit_burned'].sum()

In [63]:
filt = fuel['fuel_type_code_pudl'] == 'coal'
print(filt)
coal = fuel[filt]

0         True
1         True
2         True
3         True
4        False
         ...
29518    False
29519    False
29520    False
29521     True
29522    False
Name: fuel_type_code_pudl, Length: 29523, dtype: bool

In [64]:
coal

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.59000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.59200,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.13000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.95000,47.210,45.990,1.970
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.92200,44.240,43.250,1.850
...,...,...,...,...,...,...,...,...,...,...,...
29503,f1_fuel_2018_12_191_1_14,191,2018,lawrence,coal,ton,1761218.0,17.88832,26.775,27.392,1.497
29510,f1_fuel_2018_12_403_0_2,403,2018,wygen 2,coal,ton,569800.0,16.11000,14.760,0.810,1.130
29516,f1_fuel_2018_12_12_0_8,12,2018,neil simpson unit 2,coal,ton,491913.0,16.10000,14.760,17.720,1.100
29517,f1_fuel_2018_12_12_0_10,12,2018,wyodak - bhp 20%,coal,ton,409637.0,16.06800,13.690,14.310,0.890
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.10800,3.060,14.760,1.110

In [65]:
coal.groupby('report_year')['fuel_cost_per_unit_burned'].sum()

report_year
1994     14984.572
1995     14571.785
1996     12694.803
1997     43742.178
1998     11902.597
1999     16303.468
2000    100428.831
2001     15109.012
2002      9171.164
2003     30954.110
2004      9632.063
2005     11107.182
2006     12402.684
2007     12965.171
2008     14331.348
2009     45554.858
2010     88627.745
2011     17001.015
2012     17546.097
2013     17629.860
2014     15412.197
2015     13338.235
2016     11100.925
2017     10254.284
2018      9488.197
Name: fuel_cost_per_unit_burned, dtype: float64